$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";



// All animations are turned off in bower_components/animate-sass/helpers/_settings.scss by default to save space.
// Override them lika-so to use specific animations:
$use-fadeInUp: true;
$use-fadeIn: true;

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/colors/sass/colors.scss";
@import "../bower_components/animate-sass/animate.scss";
// endbower


// Colors
$dark: #494949;
$medium: #818181;


// Other stylesheets
@import 'links';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}



// Font styles
h1{
    color: $dark;
    // font-size: 23px;
    font-size: 14pt;
}

/* Base style for animations */
.animated {
    @include prefixer(animation-duration, $base-duration);
    @include prefixer(animation-fill-mode, both);   

    &.hinge {
        @include prefixer(animation-duration, $base-duration * 2);
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        // max-width: 870px;
    }
}